@media screen and (min-width:769px) {
    

    .description {
        width: 50%;
        background: transparent;
        box-shadow: none;
        position: relative;
        z-index: 1;
        @include d-flex (space-evenly, center);
        height: 300px;

        @media screen and (min-width:1200px) {
            height: 400px;
        }

    }
}