@media screen and (min-width:769px) {
    #for-mobile {
        display: none;
    }

    #for-desktop {
        display: block;
    }

    .product-recommended {
        @include container (70%);
        position: relative;
        overflow: hidden;
      
        &__card {
            
            
        }
    }
}