.menu {

    height: 180px !important;
    margin-top: 30px !important;

    &__heading {}

    &__options {


        @media screen and (max-width:800px) {
            max-width: 600px;
        }


        @media screen and (min-width:800px) {
            max-width: 800px;
        }



        &__container {

            margin-left: 5px;




            &--icon {
                width: $mobile-icon-size;
                height: $mobile-icon-size;
            }
        }
    }
}