// -------colors-------//

$text-color: #470D21;


$primary-color: #F9E4D4;
$bg-color: #FFF9F7;
$secondary-color: #D1512D;
$accent-color: #008513;
$bold-color: #D12450;





// ------ gradients ------ //

$primary-gradient: linear-gradient( rgb(249, 228, 212, 0.7) 0%, #FFF9F7 100% );


// ----- shadow ------- //

$primary-shadow: 4px 2px 20px rgba($color: #9B4931, $alpha: .15);




// ----------------------------sizes------------------------------//






// -------font size--------//

$base-font: 10px;




//--------width--------//

// common
$full-width: 100%;




// mobile
$mobile-card-size-image: 100px;
$mobile-icon-size: 45px;



// desktop



//--------height--------//

$full-height: 100vh;







// -----margin------ //

$margin-xxs: 5px;
$margin-xs: 10px;
$margin-s: 15px;
$margin-xxm: 20px;
$margin-xm: 25px;
$margin-m: 30px;
$margin-l: 40px;
$margin-xl: 50px;
$margin-xxl: 70px;




// -----padding------ //

$padding-xxxs:3px;
$padding-xxs: 5px;
$padding-xs: 10px;
$padding-s: 15px;
$padding-xxm: 20px;
$padding-xm: 25px;
$padding-m: 30px;
$padding-l: 40px;
$padding-xl: 50px;
$padding-xxl: 65px;




// ----border-radius----//

$primary-radius: 10px;



// ------ top -------//

$primary-top: -45px;

